*{
    margin: 0;
    padding: 0;
}

.cabeçalho-imagem{
    background-color: #fff3c1
    color white;
    display: flex;
    justify-content: center;
} 
.cabeçalho-imagem{
     width: -78999999%;
}